* {
	font-family: sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.message {
	position: absolute;
	/* width: 50%; */
	top: 115%;
	left: 25%;
	right: 25%;
	/* transform: translate(-50%, -50%); */
	display: none;
	z-index: 100;
}

i {
	font-size: 40px;
}

.hero-text h1 {
	font-size: 5rem;
	font-family: 'Alfa Slab One', cursive;
}

.hero-text a {
	text-decoration: none;
	color: #ffed10;
}

.theme-switcher {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.hero-text a:hover {
	opacity: .5;
}
/* .hero-text p {
	
}
.hero-text h1 {
	
} */

html,
body {
	/* background-color: #FFF0E5; */
	background-color: #0060AA;
	background-image: radial-gradient(circle, #505c7c, #282e3c, #242424);
}

#head-container {
	border: pink 3px solid;
	background-color: #FFF0E5;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* position: absolute; */

	/* margin-bottom: 10px; */
	/* height: 18em; */
}

.theme-switcher {
	display: flex;
}

.theme-button {
	margin: 5px;
	transition: .3s ease-in-out;
}

.title-container {
	/* margin-top: 1em;
	margin-bottom: 1em; */
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-container h1 {
	justify-content: start;
	text-align: center;
	margin: 0;
	font-family: 'Alfa Slab One', cursive;
	font-size: 3rem;
	color: white;
	margin-top: 50px;
	/* scroll-margin-bottom: 500px; */
}

#quote-container {
	display: flex;

	justify-content: center;
	color: #dac700;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 50%;
}

.quoteBtn-container {
	display: flex;
	justify-content: center;
}

#quoteBtn {
	font-size: 15px;
	background-color: gold;
	margin-bottom: 30px;
}

#template-container {
	background-color: #FFED10;
	background-image: radial-gradient(circle, #fdff00, #c7c016, #988829);
	/* border: darkorchid 5px solid; */
	padding: 10px;
	display: flex;
	justify-content: center;

	/* position: relative; */
	/* flex-wrap: wrap; */
	/* height: 18em; */
	padding: 1em;
	margin-bottom: 10px;
	/* max-height: 23em; */

	width: 100%;
	height: 23em;
}

#search-container {
	/* border: darkred 3px solid; */
	background-color: #E20025;
	background-image: radial-gradient(circle, #2c303b, #1b1d23, #15161a);

	padding: 10px;
	overflow-y: scroll;
	scrollbar-color: rebeccapurple green;
	scrollbar-width: thin;
}

.image-row {
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
	margin-top: 1em;
	/* gap: 5px; */
}

/* Create four equal columns that sits next to each other */
/* .image-column {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 28%;
	padding: 0 4px;
} */

.image-row .imgDiv {
	/* margin-top: 8px;
	margin-left: 8px; */
	vertical-align: middle;
	width: 25%;
	transition: .3s ease-in-out;
	margin: 0;
	padding: 5px;
}

.flkrImgResult {
	padding: 0px;
	height: 100%;
	/* vertical-align: bottom; */
}
/* #batman {
	width: 44.24px;
}

#superman {
	width: 44.24px;

} */

/* #green-lantern {
	height: 44.24px;
} */

.imgDiv:hover,
.theme-button:hover {
	transform: scale(1.1);

	opacity: .9;
	cursor: pointer;
}

#preview-container {
	/* border: black 3px solid; */
	background-color: #E20025;
	background-image: radial-gradient(circle, #2c303b, #1b1d23, #15161a);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	margin: 5px;
}

#action-button-container {
	display: flex;
	justify-content: center;

#coding-container {
	/* border: black 5px solid; */
	display: flex;
	/* justify-content: space-around; */
}

#HTML-Code {
	background-color: #010101;
	padding: 10px;
}

#HTML-Code textarea {
    background-color: #1E1F1F;
	border: grey 1px solid;
    color: lightblue;
}

#CSS-Code {
	background-color: #010101;
	padding: 10px;
	margin-right: 5px;
	margin-top: .8em;
	margin-bottom: 1em;
}

#CSS-Code textarea {
    background-color: #1E1F1F;
	border: grey 1px solid;
    color: lightblue;
}


.flkr_srchbtn, button {
    font-size: small;
    font-weight: 500;
    color: black;
    padding: 15px 18px px 18px;
    border-radius: 1px;
    cursor: pointer;
}

#HTML-Code,
#CSS-Code,
#search-container,
#preview-container {
	flex-basis: 50%;
}

#clearBtn {
	margin-left: 10px;
	background-color: orangered;
}

.coding-containers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 0 1em;
}

#HTML-Code {
	/* background-color: var(--batman-background-yellow);
	background-image: var(--batman-yellow-image); */

	/* border: gold 5px solid; */
	padding: 10px;

	width: 50%;
}

#CSS-Code {
	/* background-color: var(--batman-background-yellow);
	background-image: var(--batman-yellow-image); */
	padding: 10px;

	width: 50%;
}

#inputTitle {
	font-size: calc(1.375rem + 1.5vw);
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	color: white;
	text-align: center;
	background-color: transparent;
	border: none;
	border-radius: .25em;
}
#inputSubtitle {
	margin-top: 0;
	margin-bottom: 1rem;
	color: white;
	text-align: center;
	background-color: transparent;
	border: none;
	border-radius: .25em;
}
#inputContact {
	color: black;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: .25em;
}

textarea {
	width: 100%;
	min-height: 200px;
	resize: none;
	font-size: .75rem;
	cursor: pointer;
}

#copy-notification {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	font-size: 2rem;
	height: auto;
}

#HTML-Code {
	background-color: #010101;
	padding: 10px;
}

#HTML-Code textarea {
	background-color: #1e1f1f;
	border: grey 1px solid;
	color: lightblue;
}

#CSS-Code {
	background-color: #010101;
	padding: 10px;
}

#CSS-Code textarea {
	background-color: #1e1f1f;
	border: grey 1px solid;
	color: lightblue;
}

.modal-content {
	margin: 0;
	width: 100%;
}

footer {
	padding: 50px 0;
	text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 400px) {
	.image-row .imgDiv {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 768px) {
	#template-container {
		flex-direction: column;
		height: 40em;
	}
	#preview-container,
	#search-container {
		width: 100%;
	}

	#coding-containers {
		flex-direction: column;
	}
	#HTML-Code,
	#CSS-Code {
		width: 100%;
	}
	#preview-container {
		height: 100%;
	}
	#search-container {
		margin-right: 5px;
		margin-bottom: 1em;
		max-height: 18em;
	}
}

/* BATMAN THEME */

.batman-dark {
	background-color: #2c303b;
	background-image: radial-gradient(circle, #2c303b, #1b1d23, #15161a);
}

.batman-yellow {
	background-color: #ffed10;
	background-image: radial-gradient(circle, #fdff00, #c7c016, #988829);
}

.batman-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://images.unsplash.com/photo-1509347528160-9a9e33742cdb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNjU1NTR8MHwxfHNlYXJjaHwyfHxiYXRtYW58ZW58MHwwfHx8MTYzNDI1OTQwMQ&ixlib=rb-1.2.1&q=80&w=1080');
}

/* SUPERMAN THEME */
.superman-blue {
	background-color: #0060aa;
	background-image: radial-gradient(circle, #03b6f0, #11119e, #07064d);
}

.superman-red {
	background-color: #e20025;
	background-image: radial-gradient(circle, #e20025, #b50622, #8c0b1f);
}

.superman-yellow {
	background-color: #ffed10;
	background-image: radial-gradient(circle, #ffd700, #fdeb00, #fcff00);
}

.superman-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://images.unsplash.com/photo-1513384312027-9fa69a360337?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNjU1NTR8MHwxfHNlYXJjaHwzfHxzdXBlcm1hbnxlbnwwfDB8fHwxNjM0MjY4MDY1&ixlib=rb-1.2.1&q=80&w=1080');
}

/* GREEN LANTERN THEME */
.green-lantern-dark {
	background-color: #016738;
	background-image: radial-gradient(circle, #016738, #016134, #015c31);
}

.green-lantern-green {
	background-color: #4dff67;
	background-image: radial-gradient(circle, #9affa9, #74ff89, #4dff67);
}

.green-lantern-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('green-lantern.jpeg');
}

@media screen and (max-width: 576px) {
	.image-row .imgDiv {
		width: 33.3%;
	}
}

#placeholder {
	/* border: red 3px solid; */
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

#placeholder:hover {
	box-shadow: 0 0 6px rgb(35 173 255);
	cursor: pointer;
	transform: translateY(-2%);
}