body {
    background-color: lightblue;
}

#head-container {
    border: pink 3px solid;
    display: flex;
    justify-content: center;
}

h1 {
    justify-content: start;
}

#template-container {
    border: darkorchid 5px solid;
    padding: 10px;
    display: flex;
    justify-content: space-around
}

#search-container {
    border: darkred 3px solid;
    padding: 10px;
}

#preview-container {
    border: black 3px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#clear {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#coding-container {
    border: black 5px solid;
    display: flex;
    justify-content: space-around;
}

#HTML-Code {
    border: gold 5px solid;
    padding: 10px;
}

#CSS-Code {
    border: green 5px solid;
    padding: 10px;
}