/* Connected?
body {
    background: gray;
} */

.flkr_srchbtn, button {
    font-size: small;
    font-weight: 500;
    color: black;
    padding: 15px 18px px 18px;
    border-radius: 1px;
    cursor: pointer;
}